
.button {
  display: flex;
  width: fit-content;
  min-width: fit-content;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: var(--grey-primary);
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--grey-100);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.button:hover,
.button:focus,
.button:active {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  outline: none;
  background: var(--grey-600);
}

.button span {
  display: block;
  width: fit-content;
  position: relative;
  top: -1px;
}

.icon {
  display: block;
  margin-left: 1.5rem;
  position: relative;
  top: 1px;
  width: 1.25rem;
}

.button.red {
  background: var(--red-primary);
}

.button.red:hover,
.button.red:focus,
.button.red:active {
  background: var(--red-600);
}

.button.blue {
  background: var(--blue-primary);
}

.button.blue:hover,
.button.blue:focus,
.button.blue:active {
  background: var(--blue-600);
}

.button.yellow {
  background: var(--yellow-primary);
  color: var(--grey-900);
}

.button.yellow:hover,
.button.yellow:focus,
.button.yellow:active {
  background: var(--yellow-600);
}

.button.green {
  background: var(--green-primary);
  color: var(--grey-900);
}

.button.green:hover,
.button.green:focus,
.button.green:active {
  background: var(--green-600);
}

@media (orientation: landscape) {
  .button {
    font-size: 1.25rem;
  }

  .icon {
    width: 1rem;
    margin-left: 1.25rem;
  }
}
