
.panel {
  width: 100%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(12,21,37,0.65) 0%, rgba(12,21,37,0.75) 100%),
              linear-gradient(180deg, rgba(0,0,0,0.7511379551820728) 3%, rgba(212,212,212,0) 24%, rgba(255,255,255,0) 100%),  
              url("/messages-slideshow.jpg") right 50% bottom 50%/cover no-repeat border-box, 
              var(--grey-900);
  max-height: 18rem;
  overflow: hidden;
}

.body {
  width: 100%;
  margin: 1rem auto;
  text-align: center;
  color: var(--grey-100);
  font-size: 1.5rem;
}

.body:nth-of-type(2) {
  margin-top: 0;
}

@media (orientation: portrait) {

  .panel {
    height: 45svh;
  }

}

@media (orientation: landscape) {

  .panel {
    height: 65svh;
  }

}

.body {
  width: 70%;
  margin: 1rem auto;
  text-align: center;
  color: var(--grey-100);
  font-size: 1rem;
}

@media (min-width: 48rem) {

  .body {
    font-size: 1.25rem;
    width: 60%;
  }

}
