
.panel {
  width: 90%;
  margin: 0 auto 4rem auto;
}

.title {
  font-size: 3rem;
  color: var(--grey-900);
  line-height: 95%;
  letter-spacing: -0.2rem;
  margin-bottom: 0;
  margin-top: 4rem;
}

.connections-2024 {
  background: url("./connections-2024.jpg") right 66% bottom 70%/cover no-repeat border-box, 
              var(--grey-100);
}

.moh-2023 {
  background: url("./moh-2023.jpg") right 66% bottom 70%/cover no-repeat border-box, 
              var(--grey-100);
}

.bags-of-hope {
  background: url("./bags-of-hope.jpg") right 66% bottom 70%/cover no-repeat border-box, 
              var(--grey-100);
}

.all-projects {
  background: url("./all-projects.jpg") right 66% bottom 70%/cover no-repeat border-box, 
              var(--grey-100);
}

.img {
  display: none;
  background: url("./static.jpg") right 66% bottom 70%/cover no-repeat border-box, 
              var(--grey-100);
}

.content > :nth-child(3) {
  display: none;
}

@media (orientation: portrait) {

  .content > :nth-child(n) {
    margin: 1rem auto;
  }

}

@media (orientation: landscape) {

  .content {
    width: 95%;
    margin: 1rem auto 4rem auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
  }

}

@media (min-width: 48rem) {
  @media (orientation: portrait) {

    .content {
      width: 100%;
      margin: 1rem auto 4rem auto;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1rem;
    }

    .content > :nth-child(n) {
      margin: 0 auto;
    }

    .content > :nth-child(3) {
      display: block;
    }

  }
}

@media (min-width: 64rem) {

  @media(orientation: landscape) {

    .panel {
      max-width: 80rem;
      width: 80%;
      margin: 0 auto;
    }

    .content {
      width: 100%;
      margin: 1rem auto 4rem auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1rem;
    }

    .content > :nth-child(3) {
      display: block;
    }

    .img {
      display: block;
      border: 5px solid var(--grey-900);
      border-radius: 55px;
      grid-column: 1 / span 2;
    }

    .img img {
      width: 100%;
      height: auto;
    }

  }
}
