
.footer {
  position: relative;
  padding: 2rem 0 1.2rem 0;
}

.footer::before {
  content: "";
  width: 100%;
  height: 12px;
  position: absolute;
  top: -1px;
  left: 0;
  border-bottom: 12px solid var(--green-primary);
}

.footer::after {
  content: "";
  width: 55%;
  height: 12px;
  position: absolute;
  top: -1px;
  right: 0;
  border-bottom: 12px solid var(--red-primary);
  border-left: 20px solid transparent;
}

.buttons {
  display: none;
}

.logo {
  display: none;
}

.privacy_policy {
  color: var(--grey-400);
  font-size: 0.8rem;
  margin: 0;
}

.body {
  color: var(--grey-900);
  font-size: 1rem;
  margin: 0;
  cursor: default;
}

.socials-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border-top: 3px solid var(--grey-900);
  position: relative;
}

.socials-list .privacy_policy {
  display: none;
}

.social {
  text-decoration: none;
  color: var(--grey-100);
  background: var(--grey-900);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0.35rem;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.social:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 64rem) {

  .footer {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .company-info .privacy_policy {
    display: none;
  }

  .socials-list .privacy_policy {
    position: absolute;
    bottom: 35%;
    left: 5%;
    display: block;
  }

  .logo {
    display: block;
    width: 8rem;
    height: 8rem;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    max-width: 45%;
  }

  .buttons > :nth-child(n) {
    width: 100%;
  }

}
