
.panel {
  min-height: 55svh;
  min-width: 280px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(90deg, rgba(12,21,37,0.65) 0%, rgba(12,21,37,0.75) 100%),
              linear-gradient(180deg, rgba(0,0,0,0.7511379551820728) 3%, rgba(212,212,212,0) 24%, rgba(255,255,255,0) 100%),  
              url("./home__hero.jpg") right 66% bottom 70%/cover no-repeat border-box, 
              var(--grey-900);
}

.panel::before {
  content: "";
  width: 100%;
  height: 12px;
  position: absolute;
  bottom: -1px;
  left: 0;
  border-bottom: 12px solid var(--blue-primary);
}

.panel::after {
  content: "";
  width: 55%;
  height: 12px;
  position: absolute;
  bottom: -1px;
  right: 0;
  border-bottom: 12px solid var(--yellow-primary);
  border-left: 20px solid transparent;
}

.content {
  min-width: 280px;
  width: 90%;
  position: absolute;
  bottom: 10%;
  left: 2.5%;
}

.heading {
  color: var(--grey-100);
  font-size: 1.8rem;
}

.actions a {
  display: none;
}

a.write-a-message {
  display: flex;
}


@media (orientation: landscape) {

  .panel {
    min-height: 95svh;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 280px;
    width: 90%;
    margin: auto;
    position: absolute;
    bottom: 10%;
    left: 5%;
  }

  .heading {
    color: var(--grey-100);
    font-size: 1.5rem;
    width: 60%;
    margin-bottom: 0;
  }

}

/* PORTRAIT TABLET */

@media (min-width: 48rem) {
  @media (orientation: portrait) {

    .content {
      width: 95%;
      bottom: 7.5%;
    }

    .heading {
      color: var(--grey-100);
      width: 85%;
      font-size: 2rem;
      margin-bottom: 2.5rem;
    }

    .actions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1rem;
      width: 80%;
      margin: 0 auto;
    }

    .actions a {
      display: flex;
      justify-self: self-end;
      width: 100%;
      max-width: 18rem;
    }

    .actions a:nth-of-type(2n) {
      justify-self: self-start;
    }

  }
}

/* DESKTOP AND LANDSCAPE TABLET */

@media (min-width: 64rem) {

  @media (orientation: portrait) {
    
    .panel {
      min-height: 65svh;
    }

  }

  @media (orientation: landscape) {

    .panel {
      min-height: 80svh;
      max-height: 100rem;
    }

    .content {
      width: 95%;
      left: 50%;
      transform: translateX(-50%);
      bottom: 12%;
      max-width: 80rem;
    }

    .heading {
      width: 45%;
      font-size: 2rem;
    }

    .actions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 0.75rem;
      width: 65%;
      margin: 0;
      max-width: fit-content;
    }

    .actions a {
      display: flex;
      justify-self: center;
      width: 100%;
      max-width: 18rem;
      font-size: 1.5rem;
    }

  }

}
