:root {
  --grey-100: #f5f5fb;
  --grey-200: #c3c7d3;
  --grey-300: #8f98a9;
  --grey-400: #6a788f;
  --grey-500: #515b75;
  --grey-600: #36425c;
  --grey-700: #273149;
  --grey-800: #182237;
  --grey-900: #0c1525;

  --blue-100: #def2ff;
  --blue-200: #bfe5ff;
  --blue-300: #96d1fa;
  --blue-400: #69bef8;
  --blue-500: #3da8f1;
  --blue-600: #1b82c8;
  --blue-700: #095c95;
  --blue-800: #023b62;
  --blue-900: #001727;

  --yellow-100: #ffebb8;
  --yellow-200: #ffdc81;
  --yellow-300: #ffcf54;
  --yellow-400: #ffc83a;
  --yellow-500: #ffc01d;
  --yellow-600: #e3a810;
  --yellow-700: #b78609;
  --yellow-800: #7d5b04;
  --yellow-900: #443100;

  --green-100: #e8ffee;
  --green-200: #d6ffe2;
  --green-300: #bdffd0;
  --green-400: #a9ffc2;
  --green-500: #83fda7;
  --green-600: #64ec8c;
  --green-700: #4acd71;
  --green-800: #2b9f4d;
  --green-900: #0e5122;

  --red-100: #ffe7e9;
  --red-200: #ffb9bf;
  --red-300: #ff8c96;
  --red-400: #ff5967;
  --red-500: #fe3a4a;
  --red-600: #d91e2d;
  --red-700: #b2101e;
  --red-800: #800711;
  --red-900: #440107;

  --white: #ffffff;
  --black: #000000;
  --grey-primary: #515b75;
  --blue-primary: #3da8f1;
  --yellow-primary: #ffc01d;
  --green-primary: #83fda7;
  --red-primary: #fe3a4a;

  --font-title: "Coiny", sans-serif;
  --font-heading: "Quicksand", sans-serif;
  --font-subheading: "Quicksand", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: -webkit-fill-available;
  overflow-x: hidden;

  background: var(--main-white);
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  min-width: 280px;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;

  background: var(--blue-300);
}

body::-webkit-scrollbar {
  width: 0rem !important;
}

.title {
  font-family: var(--font-title);
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
}

.heading {
  font-family: var(--font-heading);
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
}

.subheading {
  font-family: var(--font-subheading);
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
}

.subheading-2 {
  font-family: var(--font-subheading);
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
}

.body {
  font-family: var(--font-body);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}
