
.projectCard {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 25px;
  overflow: hidden;
  border: solid 5px var(--grey-900);
  text-decoration: none;
  position: relative;

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.heading {
  font-size: 2rem;
  color: var(--grey-900);
  width: 80%;
  position: absolute;
  bottom: 5%;
  left: 5%;
  margin: 0;
  z-index: 2;
  letter-spacing: -0.1rem;
}

.icon {
  width: 1.5rem;
  position: relative;
  top: 0.15rem;
  margin-left: 1.5rem;
}

.projectCard.blue::after {
  content: "";
  position: absolute;
  left: -25%;
  bottom: 0;
  width: 150%;
  height: 120%;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #3da9f105 50%, #3da8f1b3 100%),
              radial-gradient(circle, rgba(255,255,255,0) 0%, #3da9f125 31%, #3da8f18f 100%);
  z-index: 1;
}

.projectCard.green::after {
  content: "";
  position: absolute;
  left: -25%;
  bottom: 0;
  width: 150%;
  height: 120%;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #83fda705 50%, #83fda7b3 100%),
              radial-gradient(circle, rgba(255,255,255,0) 0%, #83fda725 31%, #83fda86b 100%);
  z-index: 1;
}

.projectCard.red::after {
  content: "";
  position: absolute;
  left: -25%;
  bottom: 0;
  width: 150%;
  height: 120%;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #fe3a4a05 50%, #fe3a4ab3 100%),
              radial-gradient(circle, rgba(255,255,255,0) 0%, #fe3a4a25 31%, #fe3a4a6b 100%);
  z-index: 1;
}

.projectCard.yellow::after {
  content: "";
  position: absolute;
  left: -25%;
  bottom: 0;
  width: 150%;
  height: 120%;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #ffc01d05 50%, #ffc01db3 100%),
              radial-gradient(circle, rgba(255,255,255,0) 0%, #ffc01d25 31%, #ffc01d6b 100%);
  z-index: 1;
}

.projectCard::before {
  content: "";
  position: absolute;
  left: -25%;
  bottom: 0;
  width: 150%;
  height: 120%;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #ffffff05 50%, #ffffffb3 100%);
  opacity: 0;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.projectCard:hover::before {
  content: "";
  position: absolute;
  left: -25%;
  bottom: 0;
  width: 150%;
  height: 120%;
  opacity: 0.75;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #ffffff05 50%, #ffffffb3 100%);
  z-index: 1;
}
