
.card {
  position: absolute;
  width: 100%;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  left: 0;
  bottom: 0;
  color: var(--grey-100);
}

.title {
  width: 90%;
  margin: 0 0 0.2rem 0;
  font-size: calc(2.1rem + 4.5svw);
}

.subheading {
  width: 80%;
  margin: 0;
  font-size: calc(0.9rem + 1svw);
}

@media (orientation: landscape) {

  .panel {
    background-position: right 66% bottom 10%;
  }

  .card {
    width: 50%;
  }

  .title {
    width: 100%;
    font-size: calc(2.1rem + 1.6svw);
  }

  .subheading {
    width: 90%;
    font-size: calc(0.9rem + 0.4svw);
  }

}

@media (min-width: 48rem) {

  .panel {
    background-position: right 80% bottom 10%;
  }

  .card {
    width: 85%;
    padding: 1rem 1rem 4% 1rem;
  }

  .title {
    width: 100%;
    font-size: calc(3.5rem + 2.5svw);
  }

  .subheading {
    width: 90%;
    font-size: calc(1.5rem + 1.3svw);
  }

  @media (orientation: landscape) {

    .card {
      width: 65%;
    }

    .title {
      width: 100%;
      font-size: calc(2.5rem + 1.5svw);
    }

    .subheading {
      width: 90%;
      font-size: calc(1rem + 0.7svw);
    }

  }

}

@media (min-width: 64rem) {

  .panel {
    background-position: right 80% bottom 0%;
  }

  .card {
    width: 65%;
    padding: 1rem 1rem 4% 3%;
  }

  .title {
    font-size: calc(3rem + 2.5svw);
  }

  .subheading {
    font-size: calc(1.2rem + 1svw);
  }

  @media (orientation: landscape) {

    .card {
      width: 55%;
    }

    .title {
      font-size: calc(2.5rem + 1.8svw);
    }

    .subheading {
      font-size: calc(1rem + 0.6svw);
    }

  }

}
