
.panel {
  min-height: unset;
  height: 30svh;
  background: linear-gradient(180deg, rgba(0,0,0,0.4990371148459384) 0%, rgba(0,0,0,0.4822303921568627) 100%),
              url("./assets/messages-hero.jpg") right 66% bottom 20%/cover no-repeat border-box, 
              var(--grey-900);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100%;
}

.body {
  color: var(--grey-100);
  font-size: calc(0.8rem + 0.6svw);
  text-align: center;
  width: 95%;
  margin: auto;
  margin-bottom: 2%;
}

@media (orientation: landscape) {

  .panel {
    height: 80svh;
  }

  .body {
    width: 70%;
    font-size: calc(0.9rem + 0.4svw);
  }

}

@media (min-width: 64rem) {

  @media (orientation: landscape) {
    .panel {
      height: 40svh;
    }
  
    .body {
      width: 60%;
      font-size: calc(0.7rem + 0.5svw);
    }
  }

  @media (orientation: portrait) {
    .panel {
      height: 30svh;
    }
  
    .body {
      width: 95%;
      font-size: calc(0.8rem + 0.5svw);
    }
  }

}
