
.panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.4fr;
  align-items: stretch;
  grid-gap: 8px;
}

.panel a {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--grey-100);
  border-radius: 55px;
  justify-self: center;
  text-decoration: none;
  overflow: hidden;
  position: relative;

  transition: border-width 0.2s ease-in-out;
  -webkit-transition: border-width 0.2s ease-in-out;
  -moz-transition: border-width 0.2s ease-in-out;
  -o-transition: border-width 0.2s ease-in-out;
}

.panel a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  /* z-index: -1; */

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.panel a:hover,
.panel a:focus,
.panel a:active {
  border-width: 15px;
}

.panel a:hover::after,
.panel a:focus::after,
.panel a:active::after {
  opacity: 0.35;
}

.a-1 {
  display: flex !important;
  border: 10px var(--blue-primary) solid;
  color: var(--blue-800);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.4) 100%),
              url("./assets/projects-connections-2024.jpg") right 66% bottom 70%/cover no-repeat border-box, 
              var(--grey-100) !important;
}

.a-1::after {
  background-color: var(--blue-800);
}

.a-2 {
  display: flex !important;
  border: 10px var(--red-primary) solid;
  color: var(--red-800);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.4) 100%),
              url("./assets/projects-all.jpg") right 66% bottom 70%/cover no-repeat border-box, 
              var(--grey-100) !important;
}

.a-2::after {
  background-color: var(--red-800);
}

.a-3 {
  border: 10px var(--green-primary) solid;
  color: var(--green-900);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.4) 100%),
              url("./assets/projects-all.jpg") right 66% bottom 70%/cover no-repeat border-box, 
              var(--grey-100) !important;
}

.a-3::after {
  background-color: var(--green-900);
}

.a-4 {
  border: 10px var(--yellow-primary) solid;
  color: var(--yellow-800);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.4) 100%),
              url("./assets/projects-moh-2023.jpg") right 66% bottom 70%/cover no-repeat border-box, 
              var(--grey-100) !important;
}

.a-4::after {
  background-color: var(--yellow-800);
}

.a-5 {
  border: 10px var(--blue-primary) solid;
  color: var(--blue-800);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.4) 100%),
              url("./assets/projects-all.jpg") right 66% bottom 70%/cover no-repeat border-box, 
              var(--grey-100) !important;
}

.a-5::after {
  background-color: var(--blue-800);
}

.a-6 {
  border: 10px var(--grey-primary) solid;
  color: var(--grey-800);
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.4) 100%),
              url("./assets/projects-all.jpg") right 66% bottom 70%/cover no-repeat border-box, 
              var(--grey-100) !important; */
  background: url("./assets/projects-all.jpg") right 66% bottom 70%/cover no-repeat border-box, 
              var(--grey-100) !important;
  cursor: default;
}

.title {
  font-size: calc(2.1rem + 1.8svw);
  line-height: 95%;
  letter-spacing: -0.2rem;
  color: var(--grey-100);
  margin: 0 auto;
}

.heading {
  font-size: calc(1.5rem + 1.3svw);
  color: inherit;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  letter-spacing: -0.1rem;
}

@media (orientation: landscape) {

  .panel {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1.1fr;
    padding-top: 3%;
    padding-bottom: 3%;
    min-height: 180svh;
  }

  .title {
    font-size: calc(2.1rem + 1.6svw);
  }

  .heading {
    font-size: calc(1.5rem + 1.1svw);
  }

  .a-1 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }

  .a-2 {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
  }

  .a-3 {
    display: flex !important;
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
  }

  .a-4 {
    display: flex !important;
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }

}

@media (min-width: 48rem) {
  @media (orientation: portrait) {

    .panel {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.1fr 0.325fr 0.325fr 0.25fr;
    }
  
    .title {
      font-size: calc(3rem + 2.5svw);
    }

    .heading {
      width: 90%;
      font-size: calc(1.5rem + 1.8svw);
    }
  
    .a-1 {
      grid-row: 2 / span 2;
      grid-column: 1 / span 1;
    }
  
    .a-3 {
      display: flex !important;
      grid-row: 1 / span 2;
      grid-column: 2 / span 1;
    }
  
    .a-4 {
      display: flex !important;
      grid-row: 4 / span 1;
      grid-column: 1 / span 2;
    }

  }

  @media (orientation: landscape) {

    .panel {
      min-height: 180svh;
      margin: 10svh auto;
    }

    .title {
      font-size: calc(2.5rem + 1.5svw);
    }

    .heading {
      width: 90%;
      font-size: calc(1.3rem + 0.9svw);
    }

  }
}

@media (min-width: 64rem) {

  @media (orientation: portrait) {

    .title {
      font-size: calc(2.5rem + 2.5svw);
    }

    .heading {
      width: 90%;
      font-size: calc(2rem + 1.2svw);
    }

  }

  @media (orientation: landscape) {

    .title {
      font-size: calc(2.5rem + 1.1svw);
    }

    .heading {
      width: 90%;
      font-size: calc(1.2rem + 0.8svw);
    }

    .panel {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.1fr 0.25fr 0.15fr 0.5fr;
      min-height: 85svh;
      margin: 7.5svh auto;
    }
  
    .a-1 {
      grid-row: 2 / span 3;
      grid-column: 1 / span 1;
    }
  
    .a-2 {
      display: flex !important;
      grid-row: 3 / span 2;
      grid-column: 4 / span 1;
    }
  
    .a-3 {
      display: flex !important;
      grid-row: 4 / span 1;
      grid-column: 2 / span 1;
    }
  
    .a-4 {
      display: flex !important;
      grid-row: 4 / span 1;
      grid-column: 3 / span 1;
    }
  
    .a-5 {
      display: flex !important;
      grid-row: 1 / span 2;
      grid-column: 4 / span 1;
    }
  
    .a-6 {
      display: flex !important;
      grid-row: 1 / span 3;
      grid-column: 2 / span 2;
    }

  }

}
