
.main-footer {
  background: var(--grey-900);
  width: 100lvw;
  border-top: 3px solid var(--grey-200);
}

.content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  margin: 0 auto;
  padding: 1rem 0;
}

.message-counter {
  width: 95%;
  margin: 0 auto;
  border: 3px solid var(--grey-200);
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 20rem;
}

@media (min-width: 560px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .message-counter {
    margin: 0;
  }
}

.heading,
.number {
  color: var(--grey-200);
  font-size: 1.75rem;
  text-align: center;
  letter-spacing: -0.1rem;
  margin: 0;
}

.number {
  font-size: 1.6rem;
}

.company-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 1rem 0;
  /* margin: 0 auto; */
}

.logo {
  width: 10rem;
}

.logo img {
  width: 100%;
  height: auto;
}

.body {
  margin: 0;
  color: var(--grey-200);
}

.socials-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border-top: 3px solid var(--grey-200);
}

.social {
  text-decoration: none;
  color: var(--grey-900);
  background: var(--grey-200);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 0.35rem;
  font-size: 1.5rem;
}
