
.panel {
  margin: 2rem auto 4rem auto;
  max-width: 80rem;
  width: 90%;
}

.title {
  font-size: 3rem;
  color: var(--grey-900);
  line-height: 95%;
  letter-spacing: -0.2rem;
  margin-bottom: 0;
  margin-top: 0;
}

.image {
  display: none;
}

@media (orientation: portrait) {

  .grid > :nth-child(n) {
    margin: 1rem auto;
  }

}

@media (orientation: landscape) {

  .grid {
    width: 95%;
    margin: 1rem auto 5rem auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
  }

}

@media (min-width: 48rem) {
  @media (orientation: portrait) {

    .grid {
      width: 100%;
      margin: 1rem auto 5rem auto;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1rem;
    }

    .grid > :nth-child(n) {
      margin: 0 auto;
    }

  }
}

@media (min-width: 64rem) {
  @media(orientation: landscape) {

    .panel {
      width: 80%;
    }

    .grid {
      width: 100%;
      margin: 1rem auto 5rem auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1rem;
    }

    .image {
      display: block;
      border: 5px solid var(--grey-900);
      border-radius: 55px;
      grid-column: span 2;
    }

    .image img {
      width: 100%;
      height: auto;
    }

  }
}
